body {
    font-family: "Open Sans";
    padding-top: 70px;
}

.center-block {
    float: none;
    width: 768px;


    margin-left: auto;
    margin-right: auto;
}

.report-row-dark {
    background-color: #bbbbbb;
}

.report-row-light {
    background-color: #dddddd;
}

.error-container {
    color: #ff0000;
}
