<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid"></div>
        <ul class="nav navbar-nav">
            <div class="navbar-brand">Django Task List</div>
        </ul>
        <ul></ul>
            <div class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    Logged in as <a href="{% url "acct_details" %}">{{ request.user.username }}</a>
                {% else %}
                {% endif %}
            </div>
        </ul>
    </div>
</nav>